*{
    box-sizing: border-box;
}

*{
   
    font-family: Work Sans;
}

/* menus design start here.  */

nav{
    max-width: 1400px;
}
.menu-container{
    display: flex;
    align-items: center;
    justify-content:space-between; 
    width: 80%;
    margin: 10px auto 20px;
}

.menu-logo{
    display: flex;
    width: 50%;
    align-items: center;
    gap: 15px;
}

.menu-logo img{
    width: 50px;
    height: 30px;
    
}

.menus{
    display: flex;
}

.menu-logo h3{
    font-size: 45px;
    font-weight: 700;
}

.primary-font{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menus a{
    margin-left: 25px;
    text-decoration: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.primary-menus{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.primary-menus a{
    text-decoration: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-right: 10px;
    
}

.fa-brands{
    font-size: 20px;
    margin-left: 5px;
}

/* nav section end  here.  */

/* bannar section start here.  */

.bannar-container{
    width: 80%;
    display: flex;
    margin: 10px auto 20px;
}

.bannar-discription{
    width: 50%;
    margin: auto;
}

.bannar-discription h3{
    color: #0B0223;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 60px;
}

.bannar-discription h2{
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -20px;
    
}

.primary-pragraph{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: -15px;
}

.primary-btn{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 20px;
    color: white;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
}
.primary-btn2{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 10px 20px;
    color: white;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
}
.bannar-img{
    width: 50%;
}
.bannar-img img{
    width: 100%;
}
/* bannar section end here.  */

/* card section start here.  */

.card{
    width: 80%;
    margin: 20px auto 10px;
}

.card h3{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.prmary-card{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-pragraph{
    color: #534C64;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: -20px;
}

.card-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.box img{
    width: 100%;
}

.box p{
    color: #534C64;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

/* card section end here.  */

/* advertisement-section start here.  */
.advertisment{
    width: 80%;
    margin: 70px auto 10px;
    display: flex;
}

.advertise-content{
    width: 50%;
    margin-top: 100px;
    margin-right: 180px;
    text-align: right;
}

.advertise-content p{
    width: 50%;
    margin-left: 210px;
    color: #534C64;
    font-size: 14px;
    font-weight: 400;
}

.advertise-img{
    width: 50%;
}

.first-primary-img{
    width: 450px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}

.advertise-img .primary-img{
    width: 250px;
}
.primary-img{
    position: relative; 
    bottom: 200px;
    right: 110px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}

/* advertisment section end here. */



.games-name-container{
    width: 80%;
    margin: -150px auto 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}


.games-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   
}

.games-box:hover{
    border: 2px solid rgb(248, 148, 148);
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
}

.games-box2:hover{
    border: 2px solid rgb(248, 148, 148);
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
}

.games-box img{
    width: 40px;
}

.games-box p{
    color: #0B0223;
    font-size: 14px;
    font-weight: 600;

}

.games-box2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 80px;
    width: 100%;

}
.games-box2 p{
    color: #0B0223;
    font-size: 14px;
    font-weight: 600;

}
.games-box2 img{
    width: 40px;
}

/* games container section end.  */

/* footer section start.  */
.footer-container{
    width: 100%;
    height: 400px;
    background-color: #0B0223;
    margin-top: 80px;
}

.footer-logo{
    display: flex;
    align-items: center;
    width: 20%;
    margin: auto;
}

.footer-logo h1{
    margin-top: 80px;
}

.footer-logo img{
    width: 30%;
    margin-top: 65px;
    margin-right: 15px;
}

.footer-discription{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    
}

.footer-discription p{
    color: white;
    font-size: 16px;
}

.footer-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto 10px;
    width: 30%;
}

.footer-icon >.fa-brands{
    font-size: 30px;
    color: white;
}
.footer-child{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: 30px auto 10px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.fotter-last-child{
    width: 50%;
    text-align: center;
    margin: 15px auto 0px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
}